{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            {{ form(form) }}
        </div>
    </div>

    {% for tweet in tweets %}
        {% include 'app/tweet.html.twig' %}
    {% endfor %}
{% endblock %}
