{% extends 'layout.html.twig' %}

{% block title %}Login{%endblock%}

{% block messages %}
    {% if error %}
        {% include 'flash.html.twig' with {'type': 'danger', 'message': error} %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2">
            <form action="{{ path('home_login_check') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}">
                </div>

                <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" name="_password">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
